@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  padding-inline: 25rem;
}

.footer {
  margin-top: 20rem;
  padding-bottom: 1.5rem;
}
.footer__gratitude {
  font-size: 1.3rem;
}
.footer__gratitude span {
  font-style: italic;
  font-family: "Playfair Display", sans-serif;
}
.footer__links {
  border-top: 1px solid #313131;
  padding-top: 1.5rem;
}

.homeHeader {
  margin-bottom: 30rem;
  display: grid;
  gap: 13rem;
}
.homeHeader__heroContent {
  display: flex;
  justify-content: center;
  gap: 40rem;
  position: relative;
}
.homeHeader__heroContent h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 500;
}
.homeHeader__heroContent img {
  position: absolute;
  top: -20%;
}
.homeHeader__openToWork {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
}
.homeHeader__openToWork div {
  background-color: #2b2b2b;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.homeHeader__openToWork--dot {
  width: 1rem;
  height: 1rem;
  background-color: #818181;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeHeader__openToWork--dot--inner {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
}
.homeHeader__intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
}
.homeHeader__intro h2, .homeHeader__intro h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.homeHeader__intro h2 {
  font-size: 6rem;
  line-height: 7rem;
}
.homeHeader__intro h3 {
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: #9f9f9f;
  padding-bottom: 0.6rem;
  letter-spacing: 0.08rem;
}

.default-header {
  display: grid;
  gap: 1.2rem;
}
.default-header__title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.default-header__description {
  font-size: 1.2rem;
  color: var(--color-zinc-400);
}
.default-header--about {
  display: grid;
  gap: 1rem;
}
.default-header--about span {
  color: white;
  font-weight: 600;
}

.nav {
  font-family: "Inter", sans-serif;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
}
.nav--activeLink {
  font-weight: 600;
  color: white;
  text-decoration: line-through;
}
.nav--link {
  font-weight: 500;
  color: var(--color-zinc-400);
  transition: color 0.2s ease;
}
.nav--link:hover {
  color: white;
}

.quoteOfTheDay {
  display: grid;
  gap: 2rem;
}
.quoteOfTheDay__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quoteOfTheDay__header p:first-child {
  font-family: "Antonio", sans-serif;
  font-size: 1.4rem;
}
.quoteOfTheDay__header p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.quoteOfTheDay__content {
  border-left: 0.3em solid white;
  padding-block: 1rem;
  padding-inline: 3rem 0;
  display: grid;
  gap: 2rem;
}
.quoteOfTheDay__content h1, .quoteOfTheDay__content small {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.quoteOfTheDay__content h1 {
  width: 65%;
  font-size: 4rem;
  color: #a7a7a7;
}
.quoteOfTheDay__content small {
  font-size: 1.7rem;
}
.quoteOfTheDay__content .error {
  color: #f44336;
  font-weight: 500;
}

.faq {
  margin-inline: 10rem;
  margin-top: 10rem;
  display: grid;
  gap: 5rem;
}
.faq__header {
  text-align: center;
  display: grid;
  gap: 0.8rem;
}
.faq__header--subtitle {
  color: var(--color-zinc-400);
  text-transform: uppercase;
}
.faq__header h1 {
  font-weight: 600;
  font-size: 1.8rem;
}
.faq__header h1 span {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
