@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  padding-inline: 25rem;
}
body::selection {
  background-color: var(--color-zinc-700);
}
@media (width <= 1280px) {
  body {
    padding-inline: 10rem;
  }
}
@media (width <= 640px) {
  body {
    padding-inline: 1rem;
  }
}
@media (width <= 400px) {
  body {
    padding-inline: 0.7rem;
  }
}

textarea::-webkit-scrollbar {
  display: none;
}
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: start;
}
@media (width <= 640px) {
  .contact__content {
    grid-template-columns: none;
    gap: 6rem;
  }
}
.contact__subtitle {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--color-zinc-300);
  text-transform: uppercase;
}
@media (width <= 640px) {
  .contact__subtitle {
    font-size: 1.2rem;
  }
}
@media (width <= 400px) {
  .contact__subtitle {
    font-size: 1.1rem;
  }
}
.contact__title {
  margin-top: 20px;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}
@media (width <= 1280px) {
  .contact__title {
    font-size: 2.8rem;
  }
}
@media (width <= 640px) {
  .contact__title {
    margin-top: 0.7rem;
    font-size: 2.2rem;
  }
}
@media (width <= 400px) {
  .contact__title {
    font-size: 2rem;
  }
}
.contact__title i {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 500;
}
.contact__description {
  margin-top: 1.2rem;
}
@media (width <= 1280px) {
  .contact__description {
    margin-top: 1rem;
  }
}
.contact__description, .contact__email {
  max-width: 480px;
  color: var(--color-zinc-400);
  font-size: 1.2rem;
  line-height: 1.7;
}
@media (width <= 1280px) {
  .contact__description, .contact__email {
    font-size: 1rem;
  }
}
.contact__email {
  margin-top: 6rem;
}
@media (width <= 1280px) {
  .contact__email {
    margin-top: 7rem;
  }
}
@media (width <= 640px) {
  .contact__email {
    margin-top: 1rem;
  }
}
.contact a {
  font-size: 1.2rem;
}
@media (width <= 1280px) {
  .contact a {
    font-size: 1rem;
  }
}
.contact a:hover {
  text-decoration: underline;
}

.contact-form__label {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #bebec8;
}

.teste {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description--medium {
  color: var(--color-zinc-400);
  font-size: 1.1rem;
}
@media (width <= 1280px) {
  .description--medium {
    font-size: 1rem;
  }
}
.description--normal {
  color: var(--color-zinc-400);
  font-size: 1.2rem;
}
@media (width <= 1280px) {
  .description--normal {
    font-size: 1rem;
  }
}

.footer {
  margin-top: 15rem;
  padding-bottom: 1.5rem;
}
@media (width <= 640px) {
  .footer {
    margin-top: 10rem;
    display: grid;
    justify-content: center;
  }
}
.footer__gratitude {
  font-size: 1.3rem;
}
.footer__gratitude span {
  font-style: italic;
  font-family: "Playfair Display", sans-serif;
}

.homeHeader {
  margin-bottom: 25rem;
  display: grid;
  gap: 13rem;
}
@media (width <= 1280px) {
  .homeHeader {
    gap: 4rem;
  }
}
@media (width <= 640px) {
  .homeHeader {
    margin-bottom: 18rem;
    gap: 12.4rem;
  }
}
@media (width <= 400px) {
  .homeHeader {
    margin-bottom: 15rem;
    gap: 10.4rem;
  }
}
.homeHeader__heroContent {
  display: flex;
  justify-content: center;
  gap: 40rem;
  position: relative;
}
@media (width <= 1280px) {
  .homeHeader__heroContent {
    gap: 27.4rem;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent {
    gap: 1rem;
  }
}
.homeHeader__heroContent h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 500;
}
@media (width <= 1280px) {
  .homeHeader__heroContent h1 {
    font-size: 5rem;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent h1 {
    font-size: 3.2rem;
    line-height: 2.5rem;
  }
}
.homeHeader__heroContent img {
  position: absolute;
  top: -20%;
}
@media (width <= 1280px) {
  .homeHeader__heroContent img {
    top: -51%;
    width: 35%;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent img {
    top: 83%;
    width: 69%;
  }
}
@media (width <= 400px) {
  .homeHeader__heroContent img {
    top: 84%;
    width: 65%;
  }
}
.homeHeader__openToWork {
  display: flex;
  justify-content: flex-end;
}
@media (width <= 640px) {
  .homeHeader__openToWork {
    position: relative;
    bottom: -5rem;
  }
}
.homeHeader__openToWork div {
  background-color: var(--color-zinc-900);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: background 0.2s ease-out;
}
@media (width <= 640px) {
  .homeHeader__openToWork div a {
    font-size: 0.7rem;
  }
}
.homeHeader__openToWork div:hover {
  background-color: var(--color-zinc-800);
}
@media (width <= 1280px) {
  .homeHeader__openToWork div {
    padding: 0.5rem 0.9rem 0.5rem 0.7rem;
  }
}
@media (width <= 400px) {
  .homeHeader__openToWork div {
    padding: 0.3rem 0.8rem 0.3rem 0.5rem;
  }
}
.homeHeader__openToWork div p {
  font-size: smaller;
}
.homeHeader__openToWork--dot {
  width: 1rem;
  height: 1rem;
  background-color: #818181;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 640px) {
  .homeHeader__openToWork--dot {
    width: 0.8em;
    height: 0.8rem;
  }
}
.homeHeader__openToWork--dot--inner {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
}
@media (width <= 640px) {
  .homeHeader__openToWork--dot--inner {
    width: 0.4rem;
    height: 0.4rem;
  }
}
.homeHeader__intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
}
.homeHeader__intro h2,
.homeHeader__intro h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.homeHeader__intro h2 {
  font-size: 6rem;
  line-height: 7rem;
}
@media (width <= 1280px) {
  .homeHeader__intro h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (width <= 640px) {
  .homeHeader__intro h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (width <= 400px) {
  .homeHeader__intro h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.homeHeader__intro h3 {
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: #9f9f9f;
  padding-bottom: 0.6rem;
  letter-spacing: 0.08rem;
}
@media (width <= 1280px) {
  .homeHeader__intro h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    padding-bottom: 0.1rem;
  }
}
@media (width <= 640px) {
  .homeHeader__intro h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.default-header {
  display: grid;
  gap: 1.2rem;
  margin-bottom: 10rem;
}
@media (width <= 640px) {
  .default-header {
    margin-bottom: 7rem;
  }
}
.default-header__title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (width <= 640px) {
  .default-header__title {
    font-size: 2.4rem;
  }
}
@media (width <= 400px) {
  .default-header__title {
    font-size: 2.2rem;
  }
}
.default-header--about {
  display: grid;
  gap: 1rem;
}
.default-header--about span {
  color: white;
  font-weight: 600;
}

.nav {
  font-family: "Inter", sans-serif;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
}
@media (width <= 1280px) {
  .nav {
    margin-bottom: 7rem;
  }
}
@media (width <= 640px) {
  .nav {
    margin-bottom: 6rem;
  }
  .nav--link, .nav--activeLink {
    font-size: 0.9rem;
  }
}
@media (width <= 400px) {
  .nav--link, .nav--activeLink {
    font-size: 0.8rem;
  }
}
.nav--activeLink {
  font-weight: 600;
  color: white;
  text-decoration: line-through;
}
.nav--link {
  font-weight: 500;
  color: var(--color-zinc-400);
  transition: color 0.2s ease;
}
.nav--link:hover {
  color: white;
}

.quoteOfTheWeek {
  margin-bottom: 20rem;
  display: grid;
  gap: 2rem;
}
@media (width <= 640px) {
  .quoteOfTheWeek {
    margin-bottom: 15rem;
  }
}
.quoteOfTheWeek__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quoteOfTheWeek__header p:first-child {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.quoteOfTheWeek__header p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.quoteOfTheWeek__content {
  display: grid;
  gap: 2rem;
  border-left: 0.3em solid white;
  padding-block: 1rem;
  padding-inline: 3rem 0;
}
@media (width <= 640px) {
  .quoteOfTheWeek__content {
    padding-inline: 2rem 0;
    display: grid;
    gap: 2rem;
  }
}
.quoteOfTheWeek__content h1,
.quoteOfTheWeek__content small {
  font-weight: 500;
  font-style: italic;
  font-family: serif;
}
.quoteOfTheWeek__content h1 {
  width: 65%;
  font-size: 4rem;
  color: #a7a7a7;
}
@media (width <= 1280px) {
  .quoteOfTheWeek__content h1 {
    width: 70%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (width <= 640px) {
  .quoteOfTheWeek__content h1 {
    width: 100%;
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
}
@media (width <= 400px) {
  .quoteOfTheWeek__content h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
.quoteOfTheWeek__content small {
  font-size: 1.7rem;
}
@media (width <= 1280px) {
  .quoteOfTheWeek__content small {
    font-size: 1.3rem;
  }
}
.quoteOfTheWeek__content .error {
  color: #f44336;
  font-weight: 500;
}

.showcase-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-zinc-600);
}
.showcase-heading {
  font-family: "Antonio", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: white;
  margin: 0;
  white-space: nowrap;
  line-height: 1;
}
@media (width <= 1280px) {
  .showcase-heading {
    font-size: 1.9rem;
  }
}

.divider {
  flex: 1;
  height: 1px;
  background-color: #d4d4d4;
}

.viewAll {
  font-size: 0.9375rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}
.viewAll:hover {
  text-decoration: underline;
}

.showCaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 380px), 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.showCaseGrid--multi-row {
  grid-template-columns: repeat(2, 1fr);
}
@media (width <= 640px) {
  .showCaseGrid--multi-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

.showcase-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.showcase-card svg {
  display: none;
}
.showcase-card:hover svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}
@media (width <= 640px) {
  .showcase-card:hover svg {
    width: 1rem;
    height: 1rem;
  }
}
.showcase-card:hover .showcase-card--description {
  color: white;
}
.showcase-card--description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-zinc-400);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (width <= 640px) {
  .showcase-card--description {
    margin-top: 0.5rem;
  }
}

.showcase-cover {
  width: 100%;
  height: 20.5rem;
  object-fit: cover;
  object-position: center center;
  display: block;
  transition: transform 0.25s ease;
}
@media (width <= 1280px) {
  .showcase-cover {
    height: 17.5rem;
  }
}
@media (width <= 640px) {
  .showcase-cover {
    height: 15.5rem;
  }
}
@media (width <= 400px) {
  .showcase-cover {
    height: 14rem;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.stack-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-zinc-600);
}
.stack-heading {
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: white;
  margin: 0;
  white-space: nowrap;
  line-height: 1;
}
.stack-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem 4rem;
}
@media (width <= 640px) {
  .stack-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
  }
}
.stack-grid svg, .stack-grid img {
  height: 3.5rem;
}
@media (width <= 1280px) {
  .stack-grid svg, .stack-grid img {
    height: 3rem;
  }
}
@media (width <= 640px) {
  .stack-grid svg, .stack-grid img {
    height: 2.97rem;
  }
}
.stack-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
.stack-card a {
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.stack-card a svg {
  width: auto;
  height: 1.1rem;
}
.stack-card a:hover {
  background-color: var(--color-zinc-900);
}

.timeline {
  margin-top: 15rem;
  display: grid;
  gap: 8rem;
  width: 100%;
  background: #000;
  color: #fff;
}
.timeline__empty {
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
  border-left: 1px solid var(--color-zinc-800);
}
.timeline__grid {
  display: grid;
  grid-template-columns: 80px repeat(3, 1fr);
  border-top: 1px solid var(--color-zinc-800);
}
.timeline__header {
  padding: 1.9rem 2rem;
  border-bottom: 1px solid var(--color-zinc-800);
  border-right: 1px solid var(--color-zinc-800);
}
.timeline__header .timeline__track {
  font-size: 0.62rem;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  margin-bottom: 0.4rem;
}
.timeline__header h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-zinc-400);
}
.timeline__year {
  padding-top: 1.9rem;
  padding-inline: 2rem;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.35);
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
  border-left: 1px solid var(--color-zinc-800);
}
.timeline__column {
  min-height: 150px;
  padding: 1.5rem 1rem 2.2rem;
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
  position: relative;
}

.timeline-card {
  position: relative;
  padding-left: 1rem;
}
.timeline-card__dot {
  position: absolute;
  left: -1.22rem;
  top: 0.66rem;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.03);
}
.timeline-card__title {
  display: inline-block;
  font-size: 0.62rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.35);
  margin-bottom: 0.5rem;
}
.timeline-card__subtitle {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.95);
}
.timeline-card__description {
  font-size: 0.875rem;
  line-height: 1.6;
  max-width: 220px;
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: 0.85rem;
}
.timeline-card__tags {
  display: flex;
  gap: 0.45rem;
  flex-wrap: wrap;
}
.timeline-card__tag {
  font-size: 0.75rem;
  font-family: var(--font-mono);
  font-weight: 600;
  border: 1px solid var(--color-zinc-800);
  color: rgba(255, 255, 255, 0.45);
  border-radius: calc(var(--radius) * 2.6);
  padding: 0.125rem 0.625rem;
}

@media (max-width: 640px) {
  .timeline {
    gap: 5rem;
  }
  .timeline__empty {
    display: none;
  }
  .timeline__grid {
    border: none;
    grid-template-columns: 1fr;
  }
  .timeline__header {
    display: none;
  }
  .timeline__year {
    grid-column: 1/-1;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-family: "Antonio", sans-serif;
    font-size: 1.27rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    padding-top: 1.5rem;
    padding-inline: 0;
    padding-bottom: 1rem;
  }
  .timeline__year::before {
    content: "*";
    color: rgba(255, 255, 255, 0.85);
  }
  .timeline__column {
    grid-column: 1/-1;
    border: none;
    min-height: auto;
    padding-inline: 0;
  }
  .timeline__column:empty {
    display: none;
  }
}
@media (max-width: 640px) and (width <= 640px) {
  .timeline-card {
    padding-left: 0;
  }
}
@media (max-width: 640px) {
  .timeline-card__dot {
    display: none;
  }
  .timeline-card__title::before {
    content: attr(data-track) " · ";
    color: white;
  }
}
.work-experience {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 4rem;
}
@media (width <= 1280px) {
  .work-experience {
    grid-template-columns: 35% auto;
  }
}
@media (width <= 640px) {
  .work-experience {
    grid-template-columns: none;
    gap: 15rem;
  }
}
.work-experience a {
  transition: color 0.2s ease;
}
.work-experience a:hover {
  color: white;
  text-decoration: underline;
}
.work-experience .profile {
  display: grid;
  gap: 1rem;
}
.work-experience .profile__pic {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%), url("/assets/makenedev-profile.jpeg");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 28rem;
  border-radius: 0.3rem;
}
@media (width <= 400px) {
  .work-experience .profile__pic {
    height: 23rem;
  }
}
.work-experience .profile__content {
  display: grid;
  gap: 2.2rem;
}
.work-experience .profile__header--name {
  font-size: 1.2rem;
  font-weight: 500;
}
.work-experience .profile__header--title {
  color: var(--color-zinc-400);
}
.work-experience .profile__contact {
  display: grid;
  gap: 0.5rem;
}
.work-experience .profile__links {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.work-experience .profile__links svg {
  color: var(--color-zinc-400);
  transition: color 0.2s ease;
}
.work-experience .profile__links svg:hover {
  color: white;
}
.work-experience .profile__resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-zinc-700);
  border-radius: 9rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
}
@media (width <= 640px) {
  .work-experience .profile__resume {
    width: fit-content;
    gap: 0.67rem;
    padding: 0.5rem 1rem;
  }
}
.work-experience .profile__resume, .work-experience .profile__resume svg {
  transition: all 0.2s ease-in;
}
.work-experience .profile__resume svg {
  color: var(--color-zinc-700);
}
.work-experience .profile__resume:hover {
  border-color: white;
}
.work-experience .profile__resume:hover svg {
  color: white;
}
.work-experience .experiences h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
@media (width <= 640px) {
  .work-experience .experiences h1 {
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-zinc-600);
  }
}
.work-experience .experiences__timeline {
  color: var(--color-zinc-400);
  display: grid;
  gap: 2.5rem;
}
.work-experience .experiences__timeline h2 {
  color: white;
  font-weight: 500;
}
@media (width <= 640px) {
  .work-experience .experiences__timeline {
    gap: 3rem;
  }
}
.work-experience .experiences__work {
  display: grid;
  gap: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
