@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Light Mode */
  --bg-primary: #f8f4ef;
  --bg-secondary: rgba(232, 216, 195, 0.361);
  --bg-tertiary: #e8e8e5;
  --bg-service-card: #ffffff;
  --bg-service-hovered: #000000;
  --openToWork-bg: rgba(179, 175, 148, 0.141);
  --openToWork-hovered: rgba(213, 213, 213, 0.788);
  --stack-link: rgba(232, 232, 232, 0.604);
  --light-gray-bg: rgba(238, 238, 238, 0.686);
  --profile-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  --text-primary: #332d25;
  --text-secondary: #695f51;
  --text-tertiary: #988c7d;
  --text-tag: #a2896be6;
  --text-service-hovered: #ffffff;
  --description-service-hovered: #c7c7bb;
  --text-label: #332d25;
  --border-primary: #bebebe;
  --border-secondary: #ccccc7;
  --border-tertiary: #72645229;
  --border-tag: #c2b3a1;
  --border-services: transparent;
  --border-resume: #c7c2bc;
  --shadow-service: rgb(255 255 255 / 39%);
  --button-primary-bg: #332d25;
  --button-primary-text: #ffffff;
  --button-primary-bg-hovered: #2e2e2e;
  --button-primary-disabled-bg: #d4d4d4;
  --button-primary-disabled-text: #808080;
  --cta-button-hover: #504639;
  --surface-hover: #e8e8e5;
  --surface-active: #d9d9d5;
  --accent-soft: #d9d9d5;
  --accent-medium: #b8b8af;
  --accent-strong: #6a6a60;
  --selection-bg: rgba(222, 205, 184, 0.741);
  --text-primary-rgb: 13, 13, 11;
  --text-secondary-rgb: 58, 58, 53;
  --text-tertiary-rgb: 106, 106, 96;
}

.dark {
  /* Dark Mode */
  --bg-primary: #000000;
  --bg-secondary: #151515;
  --bg-tertiary: #1a1a1a;
  --bg-service-card: #000000;
  --bg-service-hovered: #151515;
  --openToWork-bg: rgba(24, 24, 27, 0.741);
  --openToWork-hovered: rgba(39, 39, 42, 0.729);
  --stack-link: #18181b;
  --light-gray-bg: rgba(67, 67, 67, 0.212);
  --profile-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgb(0, 0, 0) 100%
  );
  --text-primary: #ffffff;
  --text-secondary: #9f9fa9;
  --text-tertiary: #848484;
  --text-tag: #a1a1a1;
  --text-service-hovered: #ffffff;
  --description-service-hovered: #828282;
  --text-label: #9f9fa9;
  --border-primary: #3a3a3a;
  --border-secondary: #3f3f3f;
  --border-tertiary: #1d1d1d;
  --border-tag: #262626;
  --border-services: #252525;
  --border-resume: #3f3f46;
  --shadow-service: none;
  --button-primary-text: #000000;
  --button-primary-bg: #ffffff;
  --button-primary-bg-hovered: #d2d2d2;
  --button-primary-disabled-bg: rgba(68, 68, 68, 0.639);
  --button-primary-disabled-text: #646464;
  --cta-button-hover: #bfbfbf;
  --surface-hover: #1f1f1f;
  --surface-active: #2a2a2a;
  --accent-soft: #3f3f3f;
  --accent-medium: #2f2f2f;
  --accent-strong: #a8a8a8;
  --selection-bg: #3f3f3f;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding-inline: 25rem;
}
body::selection {
  background-color: var(--selection-bg);
  color: var(--text-primary);
}
@media (width <= 1280px) {
  body {
    padding-inline: 10rem;
  }
}
@media (width <= 884px) {
  body {
    padding-inline: 5rem;
  }
}
@media (width <= 640px) {
  body {
    padding-inline: 1rem;
  }
}
@media (width <= 400px) {
  body {
    padding-inline: 0.7rem;
  }
}

textarea::-webkit-scrollbar {
  display: none;
}
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border-color: var(--border-primary);
}

.blog-body {
  display: grid;
  grid-template-columns: 80% auto;
  gap: 3rem;
}
@media (width <= 1280px) {
  .blog-body {
    grid-template-columns: 75% auto;
    gap: 2.5rem;
  }
}
@media (width <= 884px) {
  .blog-body {
    gap: 2rem;
  }
}
@media (width <= 640px) {
  .blog-body {
    display: block;
  }
}
.blog-section {
  display: grid;
  gap: 2rem;
}
@media (width <= 1280px) {
  .blog-section {
    gap: 1.8rem;
  }
}
@media (width <= 884px) {
  .blog-section {
    gap: 3rem;
  }
}
@media (width <= 640px) {
  .blog-section {
    gap: 4rem;
  }
}
.blog-lastBlog {
  border-bottom: 1px solid var(--border-tertiary);
  padding-bottom: 2rem;
}
@media (width <= 640px) {
  .blog-lastBlog {
    padding-bottom: 3rem;
  }
}
.blog-lastBlog-card {
  background-color: var(--bg-secondary);
  padding: 1.5rem 1.5rem 1.5rem 1.7rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 47% auto;
  border: 1px dashed var(--border-secondary);
}
@media (width <= 640px) {
  .blog-lastBlog-card {
    padding: 1.2rem;
    grid-template-columns: none;
  }
}
.blog-lastBlog-card:hover {
  background-color: transparent;
  border: 1px dashed var(--text-primary);
}
.blog-lastBlog-card:hover h1 {
  text-decoration: underline;
}
.blog-lastBlog-card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-lastBlog-card section span {
  font-size: 0.8rem;
  color: var(--text-tertiary);
}
.blog-lastBlog-card section h1 {
  margin-top: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-primary);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (width <= 1280px) {
  .blog-lastBlog-card section h1 {
    font-size: 1.5rem;
  }
}
@media (width <= 884px) {
  .blog-lastBlog-card section h1 {
    font-size: 1.2rem;
  }
}
@media (width <= 640px) {
  .blog-lastBlog-card section h1 {
    font-size: 1.5rem;
  }
}
.blog-lastBlog-card section p {
  margin-block: 1rem 2rem;
  color: var(--text-secondary);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-lastBlog-card img {
  height: 100%;
}
@media (width <= 640px) {
  .blog-lastBlog-card img {
    height: auto;
  }
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (width <= 1280px) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;
    row-gap: 3rem;
  }
}
@media (width <= 640px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
.blog-list-section {
  display: grid;
  gap: 2rem;
}
@media (width <= 640px) {
  .blog-list-section {
    gap: 3rem;
  }
}
.blog-list__item {
  display: flex;
}
.blog-card {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  border: 1px dashed transparent;
  transition: border 0.1s ease-in-out;
}
.blog-card:hover {
  border: 1px dashed var(--text-primary);
  background-color: transparent;
}
.blog-card:hover .blog-card__title,
.blog-card:hover .blog-card__link {
  text-decoration: underline;
}
.blog-card__media {
  position: relative;
  overflow: hidden;
}
.blog-card__cover {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
@media (width <= 1280px) {
  .blog-card__cover {
    height: 13rem;
  }
}
@media (width <= 884px) {
  .blog-card__cover {
    height: 10rem;
  }
}
@media (width <= 640px) {
  .blog-card__cover {
    height: 14rem;
  }
}
@media (width <= 400px) {
  .blog-card__cover {
    height: 13.5rem;
  }
}
@media (width <= 330px) {
  .blog-card__cover {
    height: 11rem;
  }
}
.blog-card__overlay {
  background: rgba(114, 113, 113, 0.16);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -0.2%;
  width: 100%;
  padding: 0.7rem 1rem;
  pointer-events: none;
}
.blog-card__author--overlay {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.95;
}
.blog-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (width <= 640px) {
  .blog-card__content {
    gap: 1rem;
  }
}
.blog-card__meta, .blog-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}
.blog-card__category, .blog-card__date, .blog-card__link {
  font-size: 0.75rem;
  color: var(--text-tertiary);
}
.blog-card__overlay .blog-card__category, .blog-card__overlay .blog-card__date, .blog-card__overlay {
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}
.blog-card__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-primary);
  line-height: 1.4;
}
@media (width <= 1280px) {
  .blog-card__title {
    font-size: 1rem;
  }
}
.blog-card__description {
  font-size: 0.9rem;
  line-height: 1.54;
  color: var(--text-tertiary);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (width <= 640px) {
  .blog-card__description {
    font-size: 0.97rem;
  }
}
.blog-card__link {
  color: var(--text-primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.blog-card__link svg {
  margin-top: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
}
.blog-aside {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  position: sticky;
  top: 5%;
  height: fit-content;
}
@media (width <= 884px) {
  .blog-aside {
    top: 2%;
  }
}
@media (width <= 640px) {
  .blog-aside {
    display: none;
  }
}
.blog-aside h3 {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--border-primary);
  padding-bottom: 0.4rem;
  color: var(--text-primary);
}
.blog-aside ul {
  display: grid;
  gap: 0.5rem;
}
.blog-aside ul li {
  font-size: 0.87rem;
  color: var(--text-tertiary);
  cursor: pointer;
}
.blog-aside ul li.active {
  color: var(--text-primary);
  font-weight: 500;
  text-decoration: line-through;
}
.blog-aside ul li:hover {
  color: var(--text-primary);
}

.verticalBlogs {
  display: grid;
}
.verticalBlogs a {
  padding-block: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.verticalBlogs a:not(:last-child) {
  border-bottom: 1px solid var(--border-tertiary);
}
.verticalBlogs a article {
  display: grid;
  gap: 1rem;
}
@media (width <= 640px) {
  .verticalBlogs a article {
    padding-right: 0.3rem;
  }
}
.verticalBlogs a article p {
  font-size: 0.9rem;
}
.verticalBlogs a article h2 {
  font-size: 1.1rem;
}
.verticalBlogs a article p {
  color: var(--text-secondary);
}
.verticalBlogs a article span {
  color: var(--text-tertiary);
}
.verticalBlogs a article div h2 {
  color: var(--text-primary);
  font-weight: 500;
  margin-bottom: 0.4rem;
}
@media (width <= 640px) {
  .verticalBlogs a article div h2 {
    line-height: 1.66rem;
  }
}
.verticalBlogs a article div span {
  font-size: 1rem;
}
@media (width <= 1280px) {
  .verticalBlogs a article div span {
    font-size: 0.875rem;
  }
}
.verticalBlogs a svg {
  width: 1.3rem;
  height: 1.3rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media (width <= 640px) {
  .verticalBlogs a svg {
    display: none;
  }
}
.verticalBlogs a:hover {
  border-bottom: 1px solid var(--text-primary);
}
.verticalBlogs a:hover svg {
  opacity: 1;
}

@media (width <= 1280px) {
  .contact__left {
    position: sticky;
    top: 20%;
  }
}
@media (width <= 884px) {
  .contact__left {
    top: 5%;
  }
}
@media (width <= 640px) {
  .contact__left {
    position: relative;
  }
}
.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: start;
}
@media (width <= 884px) {
  .contact__content {
    gap: 4rem;
  }
}
@media (width <= 820px) {
  .contact__content {
    grid-template-columns: none;
    gap: 6rem;
  }
}
.contact__subtitle {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-tertiary);
  text-transform: uppercase;
}
@media (width <= 640px) {
  .contact__subtitle {
    font-size: 1.2rem;
  }
}
@media (width <= 400px) {
  .contact__subtitle {
    font-size: 1.1rem;
  }
}
.contact__title {
  margin-top: 20px;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}
@media (width <= 1280px) {
  .contact__title {
    font-size: 2.8rem;
  }
}
@media (width <= 640px) {
  .contact__title {
    margin-top: 0.7rem;
    font-size: 2.2rem;
  }
}
@media (width <= 400px) {
  .contact__title {
    font-size: 2rem;
  }
}
.contact__title i {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 500;
}
.contact__description {
  margin-top: 1.2rem;
}
@media (width <= 1280px) {
  .contact__description {
    margin-top: 1rem;
  }
}
.contact__description, .contact__email {
  max-width: 480px;
  color: var(--text-secondary);
  font-size: 1.2rem;
  line-height: 1.7;
}
@media (width <= 1280px) {
  .contact__description, .contact__email {
    font-size: 1rem;
  }
}
.contact__email {
  margin-top: 6rem;
}
@media (width <= 1280px) {
  .contact__email {
    margin-top: 7rem;
  }
}
@media (width <= 640px) {
  .contact__email {
    margin-top: 1rem;
  }
}
.contact a {
  font-size: 1.2rem;
}
@media (width <= 1280px) {
  .contact a {
    font-size: 1rem;
  }
}
.contact a:hover {
  text-decoration: underline;
}

.contact-form section {
  display: grid;
  gap: 4rem;
}
@media (width <= 884px) {
  .contact-form section {
    gap: 3.5rem;
  }
}
.contact-form__label {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--text-label);
}

.submit-btn {
  background-color: transparent;
  margin-top: 2rem;
  padding-block: 1.25rem;
  width: 100%;
  border-radius: 999rem;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid transparent;
  font-weight: 400;
}
.submit-btn:disabled {
  cursor: not-allowed;
  background-color: var(--button-primary-disabled-bg);
  color: var(--button-primary-disabled-text);
}
.submit-btn:hover {
  background-color: var(--button-primary-bg-hovered);
  border: 1px solid var(--button-primary-text);
}
.submit-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.teste {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cta__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cta__buttons a:first-child {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  border: 1px solid transparent;
}
.cta__buttons a:first-child:hover {
  background-color: var(--cta-button-hover);
}
.cta__buttons a:last-child {
  border: 2px solid var(--border-resume);
}
.cta__buttons a:last-child svg {
  color: var(--border-resume);
}
.cta__buttons a:last-child:hover {
  border-color: var(--text-primary);
}
.cta__buttons a:last-child:hover svg {
  color: var(--text-primary);
}
.cta__button {
  width: fit-content;
  margin-top: 3rem;
  font-size: 0.8rem !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 9rem;
  padding: 0.5rem 1.2rem;
  transition: all 0.1s ease-in;
}
.cta__button svg {
  width: 0.9rem;
  height: 0.9rem;
  transition: all 0.1s ease-in;
}
.cta__button:hover {
  text-decoration: none !important;
}

.description--medium {
  font-size: 1.1rem;
  color: var(--text-secondary);
}
@media (width <= 1280px) {
  .description--medium {
    font-size: 1rem;
  }
}
.description--normal {
  font-size: 1.2rem;
  color: var(--text-secondary);
}
@media (width <= 1280px) {
  .description--normal {
    font-size: 1rem;
  }
}

.footer {
  margin-top: 20rem;
  padding-bottom: 1.5rem;
}
@media (width <= 1280px) {
  .footer {
    margin-top: 15rem;
  }
}
@media (width <= 884px) {
  .footer {
    margin-top: 12rem;
  }
}
@media (width <= 640px) {
  .footer {
    margin-top: 13rem;
    display: grid;
    justify-content: center;
  }
}
.footer__gratitude {
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Playfair Display", sans-serif;
}

.copyright {
  color: var(--text-tertiary);
}

.homeHeader {
  margin-top: -3rem;
  margin-bottom: 25rem;
  display: grid;
  gap: 10rem;
}
@media (width <= 1280px) {
  .homeHeader {
    margin-top: -4rem;
    gap: 6rem;
  }
}
@media (width <= 884px) {
  .homeHeader {
    margin-top: 0;
    gap: 10.5rem;
  }
}
@media (width <= 640px) {
  .homeHeader {
    margin-bottom: 18rem;
    gap: 12rem;
  }
}
@media (width <= 400px) {
  .homeHeader {
    margin-bottom: 15rem;
    gap: 10.4rem;
  }
}
.homeHeader__heroContent {
  display: flex;
  justify-content: center;
  gap: 40rem;
  position: relative;
}
@media (width <= 1280px) {
  .homeHeader__heroContent {
    gap: 27.4rem;
  }
}
@media (width <= 884px) {
  .homeHeader__heroContent {
    gap: 17.5rem;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent {
    gap: 1rem;
  }
}
.homeHeader__heroContent h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 500;
}
@media (width <= 1280px) {
  .homeHeader__heroContent h1 {
    font-size: 5rem;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent h1 {
    font-size: 3.2rem;
    line-height: 2.5rem;
  }
}
.homeHeader__heroContent img {
  position: absolute;
  top: 66%;
  width: 40%;
}
@media (width <= 1280px) {
  .homeHeader__heroContent img {
    top: 63%;
    width: 33%;
  }
}
@media (width <= 884px) {
  .homeHeader__heroContent img {
    top: 66%;
    width: 52%;
  }
}
@media (width <= 640px) {
  .homeHeader__heroContent img {
    top: 83%;
    width: 73%;
  }
}
@media (width <= 400px) {
  .homeHeader__heroContent img {
    top: 84%;
    width: 65%;
  }
}
.homeHeader__openToWork {
  display: flex;
  justify-content: flex-end;
}
@media (width <= 640px) {
  .homeHeader__openToWork {
    position: relative;
    bottom: -5rem;
  }
}
.homeHeader__openToWork div {
  background-color: var(--openToWork-bg);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: all 0.2s ease-in;
}
@media (width <= 640px) {
  .homeHeader__openToWork div a {
    font-size: 0.7rem;
  }
}
.homeHeader__openToWork div:hover {
  background-color: var(--openToWork-hovered);
}
@media (width <= 1280px) {
  .homeHeader__openToWork div {
    padding: 0.5rem 0.9rem 0.5rem 0.7rem;
  }
}
@media (width <= 400px) {
  .homeHeader__openToWork div {
    padding: 0.3rem 0.8rem 0.3rem 0.5rem;
  }
}
.homeHeader__openToWork div p {
  font-size: smaller;
}
.homeHeader__openToWork--dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-medium);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 640px) {
  .homeHeader__openToWork--dot {
    width: 0.8em;
    height: 0.8rem;
  }
}
.homeHeader__openToWork--dot--inner {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--text-primary);
}
@media (width <= 640px) {
  .homeHeader__openToWork--dot--inner {
    width: 0.4rem;
    height: 0.4rem;
  }
}
.homeHeader__intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
}
@media (width <= 640px) {
  .homeHeader__intro {
    gap: 4.8rem;
  }
}
.homeHeader__intro h2,
.homeHeader__intro h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.homeHeader__intro h2 {
  font-size: 6rem;
  line-height: 7rem;
}
@media (width <= 1280px) {
  .homeHeader__intro h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (width <= 640px) {
  .homeHeader__intro h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (width <= 400px) {
  .homeHeader__intro h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.homeHeader__intro h3 {
  text-align: end;
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: var(--text-secondary);
  padding-bottom: 0.6rem;
  letter-spacing: 0.05rem;
}
@media (width <= 1280px) {
  .homeHeader__intro h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    padding-bottom: 0.1rem;
  }
}
@media (width <= 640px) {
  .homeHeader__intro h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.default-header {
  display: grid;
  gap: 1.2rem;
}
.default-header__title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (width <= 640px) {
  .default-header__title {
    font-size: 2.4rem;
  }
}
@media (width <= 400px) {
  .default-header__title {
    font-size: 2.2rem;
  }
}
.default-header--about {
  display: grid;
  gap: 1rem;
}
.default-header--about span {
  color: var(--text-primary);
  font-weight: 600;
}

.nav {
  font-family: "Inter", sans-serif;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
}
@media (width <= 1280px) {
  .nav {
    margin-bottom: 7.5rem;
  }
  .nav--link, .nav--activeLink {
    font-size: 0.9rem;
  }
}
@media (width <= 884px) {
  .nav {
    margin-bottom: 8rem;
  }
}
@media (width <= 640px) {
  .nav {
    margin-bottom: 6rem;
  }
  .nav--link, .nav--activeLink {
    font-size: 0.9rem;
  }
}
@media (width <= 400px) {
  .nav--link, .nav--activeLink {
    font-size: 0.8rem;
  }
}
.nav--link, .nav--activeLink {
  text-transform: capitalize;
}
.nav--activeLink {
  font-weight: 600;
  color: var(--text-primary);
  text-decoration: line-through;
}
.nav--link {
  font-weight: 500;
  color: var(--text-tertiary);
  transition: all 0.1s ease-in;
}
.nav--link:hover {
  color: var(--text-primary);
}
.nav-icon {
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
}
@media (width <= 640px) {
  .nav-icon {
    width: 1.15rem;
    height: 1.15rem;
  }
}
@media (width <= 400px) {
  .nav-icon {
    width: 1rem;
    height: 1rem;
  }
}

.quoteOfTheWeek {
  margin-bottom: 22.5rem;
  display: grid;
  gap: 2rem;
}
@media (width <= 1280px) {
  .quoteOfTheWeek {
    margin-bottom: 16.5rem;
  }
}
@media (width <= 640px) {
  .quoteOfTheWeek {
    margin-bottom: 13rem;
  }
}
.quoteOfTheWeek__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quoteOfTheWeek__header p:first-child {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.quoteOfTheWeek__header p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.quoteOfTheWeek__content {
  display: grid;
  gap: 2rem;
  border-left: 0.3em solid var(--text-primary);
  padding-block: 1rem;
  padding-inline: 3rem 0;
}
@media (width <= 640px) {
  .quoteOfTheWeek__content {
    padding-inline: 2rem 0;
    display: grid;
    gap: 2rem;
  }
}
.quoteOfTheWeek__content h1,
.quoteOfTheWeek__content small {
  font-weight: 500;
  font-style: italic;
  font-family: serif;
}
.quoteOfTheWeek__content h1 {
  font-size: 3rem;
  color: var(--text-secondary);
}
@media (width <= 1280px) {
  .quoteOfTheWeek__content h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (width <= 884px) {
  .quoteOfTheWeek__content h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}
@media (width <= 640px) {
  .quoteOfTheWeek__content h1 {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}
@media (width <= 400px) {
  .quoteOfTheWeek__content h1 {
    font-size: 1.8rem;
  }
}
.quoteOfTheWeek__content small {
  font-size: 1.7rem;
}
@media (width <= 1280px) {
  .quoteOfTheWeek__content small {
    font-size: 1.3rem;
  }
}
@media (width <= 640px) {
  .quoteOfTheWeek__content small {
    font-size: 1rem;
  }
}
.quoteOfTheWeek__content .error {
  color: #f44336;
  font-weight: 500;
}

.services__list {
  display: grid;
}
.services__list--row {
  padding-bottom: 1.7rem;
  display: grid;
  grid-template-columns: 90% auto;
  gap: 1rem;
}
.services__list--row:first-child {
  padding-top: 1.1rem;
}
.services__list--row:not(:first-child) {
  padding-top: 1.7rem;
}
.services__list--row:not(:last-child) {
  border-bottom: 1px solid var(--border-tertiary);
}
.services__list--row h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
@media (width <= 1280px) {
  .services__list--row h2 {
    font-size: 1.3rem;
  }
}
@media (width <= 884px) {
  .services__list--row h2 {
    font-size: 1.2rem;
  }
}
@media (width <= 640px) {
  .services__list--row h2 {
    font-size: 1.1rem;
  }
}
.services__list--row p {
  font-size: 1rem;
}
@media (width <= 1280px) {
  .services__list--row p {
    font-size: 0.875rem;
  }
}
.services__list--row p, .services__list--row svg {
  color: var(--text-tertiary);
}
.services__list--row svg {
  width: 1.3rem;
  height: 1.3rem;
  align-self: center;
  justify-self: end;
}
.services__list--row, .services__list--row svg {
  transition: all 0.2s ease-in-out;
}
.services__list--row:hover {
  border-bottom: 1px solid var(--text-primary);
}
.services__list--row:hover svg {
  color: var(--text-primary);
}

.setup-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media (width <= 884px) {
  .setup-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 640px) {
  .setup-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.setup-card {
  grid-template-rows: 10rem auto;
  display: grid;
  gap: 1.25rem;
}
@media (width <= 884px) {
  .setup-card {
    grid-template-rows: 7.3rem auto;
  }
}
@media (width <= 640px) {
  .setup-card {
    grid-template-rows: 6.8rem auto;
  }
}
.setup-card img {
  width: auto;
  height: 100%;
  margin: auto;
  object-fit: contain;
}
.setup-card p, .setup-card a {
  font-size: 0.875rem;
}
.setup-card:hover svg {
  opacity: 1;
}
.setup-card:hover p {
  color: var(--text-primary);
}
.setup-card__content {
  display: grid;
  gap: 0.2rem;
}
.setup-card__content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.setup-card__content div h3 {
  width: 90%;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.setup-card__content div svg {
  width: 0.8rem;
  height: 0.8rem;
  text-decoration: underline;
  opacity: 0;
  transition: opacity 0.13s ease-in-out;
}
.setup-card__content p {
  color: var(--text-secondary);
  transition: color 0.13s ease-in-out;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.showcase-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-primary);
}
.showcase-heading {
  font-family: "Antonio", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: var(--text-primary);
  margin: 0;
  white-space: nowrap;
  line-height: 1;
}
@media (width <= 1280px) {
  .showcase-heading {
    font-size: 1.7rem;
  }
}
.showcase-heading span {
  color: var(--color-zinc-500);
}

.divider {
  flex: 1;
  height: 1px;
  background-color: var(--border-primary);
}

.viewAll {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--text-primary);
  text-decoration: none;
  white-space: nowrap;
}
.viewAll:hover {
  text-decoration: underline;
}

.showCaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 380px), 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  list-style: none;
  margin: 0;
}
.showCaseGrid li {
  padding: 1.1rem;
  transition: all 0.1s ease-in-out;
}
.showCaseGrid li:first-child {
  background-color: var(--bg-secondary);
  border: 1px dashed var(--border-secondary);
}
.showCaseGrid li:first-child:hover {
  background-color: transparent;
  border: 1px dashed var(--text-primary);
}
@media (width <= 640px) {
  .showCaseGrid li {
    padding: 1rem;
  }
}
@media (width > 640px) and (width <= 884px) {
  .showCaseGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 640px) {
  .showCaseGrid {
    row-gap: 3rem;
  }
}
.showCaseGrid--multi-row {
  grid-template-columns: repeat(2, 1fr);
}
@media (width <= 640px) {
  .showCaseGrid--multi-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

.showcase-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.showcase-card svg {
  width: 1rem;
  height: 1rem;
  opacity: 0;
}
.showcase-card:hover svg {
  opacity: 1;
}
.showcase-card:hover .showcase-card--title {
  text-decoration: underline;
}
.showcase-card--title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-primary);
}
@media (width <= 1280px) {
  .showcase-card--title {
    font-size: 1rem;
  }
}
.showcase-card--description {
  margin-top: 0.3rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (width <= 1280px) {
  .showcase-card--description {
    margin-top: 0.2rem;
    font-size: 0.875rem;
  }
}
@media (width <= 884px) {
  .showcase-card--description {
    -webkit-line-clamp: 1;
  }
}
@media (width <= 640px) {
  .showcase-card--description {
    margin-top: 0.5rem;
  }
}

.showcase-cover {
  width: 100%;
  height: 18.5rem;
  object-fit: cover;
  object-position: center center;
  display: block;
}
@media (width <= 1280px) {
  .showcase-cover {
    height: 16.5rem;
  }
}
@media (width <= 884px) {
  .showcase-cover {
    height: 9.5rem;
  }
}
@media (width <= 640px) {
  .showcase-cover {
    height: 14rem;
  }
}
@media (width <= 400px) {
  .showcase-cover {
    height: 13rem;
  }
}

.stack-header {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-primary);
}
@media (width <= 1280px) {
  .stack-header {
    margin-bottom: 2rem;
  }
}
.stack-heading {
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: var(--text-primary);
  margin: 0;
  white-space: nowrap;
  line-height: 1;
}
.stack-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem 4rem;
}
@media (width <= 640px) {
  .stack-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
  }
}
.stack-grid svg, .stack-grid img {
  height: 3.5rem;
}
@media (width <= 1280px) {
  .stack-grid svg, .stack-grid img {
    height: 3rem;
  }
}
@media (width <= 640px) {
  .stack-grid svg, .stack-grid img {
    height: 2.97rem;
  }
}
.stack-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
.stack-card a, .stack-card aside {
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.stack-card a svg, .stack-card aside svg {
  width: auto;
  height: 1rem;
}
.stack-card a {
  transition: all 0.1s ease-in;
}
.stack-card a:hover {
  background-color: var(--stack-link);
}

.timeline {
  margin-top: 22.5rem;
  display: grid;
  gap: 8rem;
  width: 100%;
  background: var(--bg-primary);
  color: var(--text-primary);
}
@media (width <= 1280px) {
  .timeline {
    margin-top: 15rem;
  }
}
@media (width <= 640px) {
  .timeline {
    margin-top: 12.5rem;
  }
}
.timeline__mobile {
  display: none;
}
.timeline__desktop-grid {
  display: block;
}
.timeline__empty {
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
  border-left: 1px solid var(--color-zinc-800);
}
.timeline__grid {
  display: grid;
  grid-template-columns: 80px repeat(3, 1fr);
  border-top: 1px solid var(--color-zinc-800);
}
.timeline__header {
  padding: 1.9rem 2rem;
  border-bottom: 1px solid var(--color-zinc-800);
  border-right: 1px solid var(--color-zinc-800);
}
.timeline__header .timeline__track {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.62rem;
  letter-spacing: 0.15em;
  color: var(--text-primary);
}
.timeline__header h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-secondary);
}
.timeline__year {
  padding-top: 1.9rem;
  padding-inline: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-primary);
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
  border-left: 1px solid var(--color-zinc-800);
}
.timeline__column {
  position: relative;
  min-height: 150px;
  padding: 1.5rem 1rem 2.2rem;
  border-right: 1px solid var(--color-zinc-800);
  border-bottom: 1px solid var(--color-zinc-800);
}
.timeline__mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.timeline__mobile-year {
  font-family: "Antonio", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-primary);
}
.timeline__mobile-button {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.2s ease;
}
.timeline__mobile-button:hover {
  color: var(--text-primary);
}
.timeline__mobile-button:disabled {
  opacity: 0;
}
.timeline__mobile-column {
  padding-block: 2rem;
  border: none;
  border-radius: 0;
}
.timeline__mobile-column:not(:last-child) {
  border-bottom: 1px solid var(--border-tertiary);
}
.timeline__mobile-track {
  margin-bottom: 0.75rem;
  font-size: 0.78rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.timeline-card {
  position: relative;
  padding-left: 1rem;
}
.timeline-card__dot {
  position: absolute;
  left: -1.22rem;
  top: 0.66rem;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background-color: var(--text-primary);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.03);
}
.timeline-card__title {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.62rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--text-secondary);
}
.timeline-card__subtitle {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-primary);
}
.timeline-card__description {
  margin-bottom: 0.85rem;
  font-size: 0.875rem;
  line-height: 1.6;
  max-width: 220px;
  color: var(--text-tertiary);
}
.timeline-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.45rem;
}

.tag {
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  font-family: var(--font-mono);
  font-weight: 600;
  border: 1px solid var(--border-tag);
  color: var(--text-tag);
  border-radius: calc(var(--radius) * 2.6);
}

@media (max-width: 840px) {
  .timeline {
    gap: 5rem;
  }
  .timeline__mobile {
    display: block;
  }
  .timeline__desktop-grid {
    display: none;
  }
  .timeline__empty {
    display: none;
  }
  .timeline__grid {
    border: none;
    grid-template-columns: 1fr;
  }
  .timeline__header {
    display: none;
  }
  .timeline__year {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1.5rem;
    padding-inline: 0;
    padding-bottom: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Antonio", sans-serif;
    font-size: 1.27rem;
    font-weight: 600;
    color: var(--text-primary);
  }
  .timeline__year::before {
    content: "*";
    color: var(--text-primary);
  }
  .timeline__column {
    grid-column: 1/-1;
    min-height: auto;
    padding-inline: 0;
    border: none;
  }
  .timeline__column:empty {
    display: none;
  }
  .timeline-card {
    padding-left: 0;
  }
  .timeline-card__dot {
    display: none;
  }
  .timeline-card__title::before {
    content: attr(data-track) " · ";
    color: var(--text-primary);
  }
}
.work-experience {
  position: relative;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 4rem;
}
@media (width <= 1280px) {
  .work-experience {
    grid-template-columns: 35% auto;
  }
}
@media (width <= 884px) {
  .work-experience {
    grid-template-columns: 38% auto;
    gap: 2rem;
  }
}
@media (width <= 640px) {
  .work-experience {
    grid-template-columns: none;
    gap: 12.5rem;
  }
}
.work-experience a {
  color: var(--text-secondary);
}
.work-experience a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}
.work-experience .profile {
  display: grid;
  gap: 2rem;
}
.work-experience .profile-pic {
  background: var(--profile-gradient), url("/assets/makenedev-profile.webp");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 28rem;
  border-radius: 0.3rem;
}
@media (width <= 400px) {
  .work-experience .profile-pic {
    height: 23rem;
  }
}
.work-experience .profile__content {
  display: grid;
  gap: 2.2rem;
}
.work-experience .profile__header--name {
  font-size: 1.2rem;
  font-weight: 500;
}
.work-experience .profile__header--title {
  margin-top: 0.2rem;
  color: var(--text-secondary);
}
.work-experience .profile__contact {
  display: grid;
  gap: 0.5rem;
}
.work-experience .profile__links {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.work-experience .profile__links svg {
  color: var(--text-secondary);
}
.work-experience .profile__links svg:hover {
  color: var(--text-primary);
}
.work-experience .profile__resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--border-resume);
  border-radius: 9rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.1s ease-in;
}
@media (width <= 640px) {
  .work-experience .profile__resume {
    width: fit-content;
    gap: 0.67rem;
    padding: 0.5rem 1rem;
  }
}
.work-experience .profile__resume svg {
  color: var(--border-resume);
  transition: all 0.1s ease-in;
}
.work-experience .profile__resume:hover {
  border-color: var(--text-primary);
}
.work-experience .profile__resume:hover svg {
  color: var(--text-primary);
}
.work-experience .experiences {
  position: sticky;
  top: 7%;
  align-self: start;
  z-index: 10;
}
.work-experience .experiences h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2.1rem;
}
@media (width <= 640px) {
  .work-experience .experiences h1 {
    font-family: "Antonio", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-primary);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-zinc-600);
  }
}
.work-experience .experiences__timeline {
  color: var(--secondary-text);
  display: grid;
  gap: 2.5rem;
}
.work-experience .experiences__timeline h2 {
  color: var(--text-primary);
  font-weight: 700;
}
@media (width <= 640px) {
  .work-experience .experiences__timeline {
    gap: 3rem;
  }
}
.work-experience .experiences__work {
  display: grid;
  gap: 0.5rem;
}
.work-experience .experiences__work p {
  color: var(--text-secondary);
}

/*# sourceMappingURL=style.css.map */
