.footer {
  margin-top: 20rem;
  padding-bottom: 1.5rem;

  @media (width <= 1280px) {
    margin-top: 15rem;
  }

  @media (width <= 884px) {
    margin-top: 12rem;
  }

  @media (width <= 640px) {
    margin-top: 10rem;
    display: grid;
    justify-content: center;
  }

  &__gratitude {
    font-size: 1.3rem;
    font-style: italic;
    font-family: "Playfair Display", sans-serif;
  }
}
