.showcase-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (width <= 1280px) {
    gap: 1.3rem;
  }

  &:hover {
    .showcase-card--title {
      text-decoration: underline;
    }
  }

  &--title {
    font-weight: 600;
    color: var(--text-primary);

    @media (width <= 640px) {
      font-size: 0.9rem;
    }
  }

  &--description {
    margin-top: 0.3rem;
    font-size: 0.875rem;
    line-height: 1.6;
    color: var(--text-secondary);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (width <= 1280px) {
      margin-top: 0.2rem;
    }

    @media (width <= 884px) {
      -webkit-line-clamp: 1;
    }

    @media (width <= 640px) {
      font-size: 0.9rem;
    }
  }
}

.showcase-cover {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
  object-position: top center;
  border-radius: 0.4rem;

  @media (width <= 884px) {
    height: 12rem;
  }

  @media (width <= 640px) {
    height: 14rem;
  }

  @media (width <= 400px) {
    height: 12rem;
  }
}
