.stack {
  &-header {
    padding-bottom: 1rem;
    margin-bottom: 3rem;

    border-bottom: 1px solid var(--border-primary);

    @media (width <= 1280px) {
      margin-bottom: 2rem;
    }
  }

  &-heading {
    font-family: "Antonio", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: var(--text-primary);
    margin: 0;
    white-space: nowrap;
    line-height: 1;
  }
}
