.timeline {
  margin-top: 15rem;
  display: grid;
  gap: 8rem;
  width: 100%;
  background: #000;
  color: #fff;

  &__empty {
    border-right: 1px solid var(--color-zinc-800);
    border-bottom: 1px solid var(--color-zinc-800);
    border-left: 1px solid var(--color-zinc-800);
  }

  &__grid {
    display: grid;
    grid-template-columns: 80px repeat(3, 1fr);
    border-top: 1px solid var(--color-zinc-800);
  }

  &__header {
    padding: 1.9rem 2rem;
    border-bottom: 1px solid var(--color-zinc-800);
    border-right: 1px solid var(--color-zinc-800);

    .timeline__track {
      font-size: 0.62rem;
      letter-spacing: 0.15em;
      color: rgba(255, 255, 255, 0.4);
      display: block;
      margin-bottom: 0.4rem;
    }

    h3 {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--color-zinc-400);
    }
  }

  &__year {
    padding-top: 1.9rem;
    padding-inline: 2rem;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.35);
    border-right: 1px solid var(--color-zinc-800);
    border-bottom: 1px solid var(--color-zinc-800);
    border-left: 1px solid var(--color-zinc-800);
  }

  &__column {
    min-height: 150px;
    padding: 1.5rem 1rem 2.2rem;
    border-right: 1px solid var(--color-zinc-800);
    border-bottom: 1px solid var(--color-zinc-800);
    position: relative;
  }
}

.timeline-card {
  position: relative;
  padding-left: 1rem;

  &__dot {
    position: absolute;
    left: -1.22rem;
    top: 0.66rem;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #fff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.03);
  }

  &__title {
    display: inline-block;
    font-size: 0.62rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.95);
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.6;
    max-width: 220px;
    color: rgba(255, 255, 255, 0.45);
    margin-bottom: 0.85rem;
  }

  &__tags {
    display: flex;
    gap: 0.45rem;
    flex-wrap: wrap;
  }

  &__tag {
    font-size: 0.75rem;
    font-family: var(--font-mono);
    font-weight: 600;
    border: 1px solid var(--color-zinc-800);
    color: rgba(255, 255, 255, 0.45);
    border-radius: calc(var(--radius) * 2.6);
    padding: 0.125rem 0.625rem;
  }
}

@media (max-width: 640px) {
  .timeline {
    gap: 6rem;

    &__empty {
      display: none;
    }

    &__grid {
      border: none;
      grid-template-columns: 1fr;
    }

    &__header {
      display: none;
    }

    &__year {
      grid-column: 1 / -1;
      border-top: none;
      border-right: none;
      border-left: none;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      font-family: "Antonio", sans-serif;
      font-size: 1.27rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.85);
      padding-top: 1.5rem;
      padding-inline: 0;
      padding-bottom: 1rem;

      &::before {
        content: "*";
        color: rgba(255, 255, 255, 0.85);
      }
    }

    &__column {
      grid-column: 1 / -1;
      border: none;
      min-height: auto;
      padding-inline: 0;

      &:empty {
        display: none;
      }
    }
  }

  .timeline-card {
    @media (width <= 640px) {
      padding-left: 0;
    }

    &__dot {
      display: none;
    }

    &__title {
      &::before {
        content: attr(data-track) " · ";
        color: white;
      }
    }
  }
}
